* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Inter, sans-serif;
	height: 100vh;
	background-color: #282d35;
}

nav {
	display: flex;
	align-items: center;
	background-color: #11222A;
	height: 90px;
	padding: 30px 25px;
}

.nav-icon {
	height: 30px;
	margin-right: 7px;
}

.nav-logo_text {
	margin-right: auto;
	color: #61dafb;
	font-size: 22px;
	font-weight: 700;
}

.nav-title {
	color: #deebf8;
	font-weight: 600;
}

main {
	padding: 57px 27px;
	color: #ffffff;

	background-image: url(./../src/assets/react-bg-logo.png);
	background-repeat: no-repeat;
	background-position: right 75%;
}

.main-title {
	margin: 0;
	font-size: 39px;
	letter-spacing: -0.02em;
}

.main-facts {
	margin-top: 46px;
	margin-left: 15px;
}

.main-facts>li {
	line-height: 19px;
	padding-block: 10px;
}

.main-facts>li::marker {
	content: 'â—  ';
	color: #61dafb;
	font-size: 1.4em;
}